@page "/quixo"
@using Quixo.Web.Shared
@using Quixo.Core
@inject QuixoBoardController BoardController

<div class="container">
    <h2>@Title</h2>
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <span class="font-weight-bold">Current Turn: </span>
                </div>
                <div class="col-sm-9">
                    Player #@BoardController.CurrentPlayer.Id
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <span class="font-weight-bold">Message: </span>
                </div>
                <div class="col-sm-9">
                    @Message
                </div>
            </div>
        </div>
    </div>
    <div class="quixo-board row justify-content-center">
        <div class="col-sm-8">
            @for (int i = 0; i < BoardController.Pieces.Length;)
            {
                <div class="row justify-content-center">
                    @{ int cols = 0; }
                    @while (cols++ < 5 && i < BoardController.Pieces.Length)
                    {
                        int j = i++;
                        Core.QuixoPiece piece = BoardController.Pieces[j];
                        <QuixoPiece Piece="piece" IsSelected="@(j == BoardController.SelectedPieceIndex)" Click="(args) => OnClickPiece(args, j)" @key="j"></QuixoPiece>
                    }
                </div>
            }
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <button class="btn btn-primary" @onclick="OnResetBoard">Reset</button>
        </div>
    </div>

    @*<div class="row">
        @for (int i = 0; i < pieces.Length; i++)
        {
            @if (i > 0 && i % 5 == 0)
            {
            @:</div><div class="row">
            }

            <QuixoPiece></QuixoPiece>
        }
    </div>*@
</div>

@code {
    private string Title = "Wonderful Quixolicious Game";
    private string Message = "Test";

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void OnClickPiece(MouseEventArgs e, int j)
    {
        var result = BoardController.SelectPiece(j);

        Message = result.Message;
    }

    private void OnResetBoard(MouseEventArgs e)
    {
        BoardController.ResetGameBoard();
    }
}
